.subtitle {
  font-size: 1.9rem;
  color: var(--skyBlue);
}

@media screen and (max-width: 768px) {
  .subtitle {
    font-size: 1.6rem;
  }
}

@media screen and (max-width: 300px) {
  .subtitle {
    font-size: 1.5rem;
  }
}
