.error {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: calc(100vh - var(--footerHeight));
  background: var(--blue);
  h1 {
    font-size: 150px;
    font-weight: bold;
  }
  h4 {
    font-size: 30px;
  }
  button {
    margin-top: 15px;
    background: var(--blue);
    color: var(--white);
    padding: 16px 24px;
    border: 2px solid var(--white);
    border-radius: 5px;
    font-size: 1.2rem;
    font-weight: 700;
    display: inline-block;
    filter: grayscale(0%) !important;
    &:hover {
      background-color: var(--white);
      color: var(--blue);
      font-weight: 900;
    }
  }
}

@media screen and (max-width: 768px) {
  .error {
    h1 {
      top: 27%;
      font-size: 125px;
    }
    h4 {
      font-size: 22px;
    }
  }
}
